extends layout

block content
    h1 Failed
    p= reason
    p.text-left more info (dev only):
    pre.text-left
        | uamip: #{uamip}
        | uamport: #{uamport}
        | called: #{called}
        | mac: #{mac}
        | ip: #{ip}
        | nasid: #{nasid}
        | sessionid: #{sessionid}
        | userurl: #{userurl}
        | md: #{md}
