extends layout

append css
  style.
    @media (max-width: 991px) {
      .img-full-page {
        content: url('#{impressionImg.sm}');
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .img-full-page {
        content: url('#{impressionImg.md}');
      }
    }
    @media (min-width: 1200px) {
      .img-full-page {
        content: url('#{impressionImg.lg}');
      }
    }

    #redirect-link {
      display: none;
    }


block content
  //-if error
    .alert.alert-danger=error
  //-else if message
    .alert.alert-success=message

  img.img-full-page


block footer
  .shadow
    #redirect-wait.link &nbsp;
    #redirect-link.link
      a(href=redirectUrl) Click here to proceed &gt;

    a.btn.btn-primary.margin-bottom(href=impressionUrl, target='_blank') CLICK HERE TO VIEW AD


append script
  script(src='/js/timer.js')