extends layout

append css
  style.
    @media (max-width: 991px) {
      .img-full-page {
        content: url('#{impressionImg.sm}');
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .img-full-page {
        content: url('#{impressionImg.md}');
      }
    }
    @media (min-width: 1200px) {
      .img-full-page {
        content: url('#{impressionImg.lg}');
      }
    }

    #redirect-link {
      display: none;
    }


block content
  //-if error
    .alert.alert-danger=error
  //-else if message
    .alert.alert-success=message

  img.img-full-page


block footer
  .shadow
    #redirect-wait.link &nbsp;
    #redirect-link.link: a(href='#', onClick=`document.redirectForm.submit(); return false;`) Click here to proceed &gt;
    //- #redirect-link.link: a(href=redirectUrl) Click here to proceed &gt;
    //- a.btn.btn-primary.margin-bottom(href=impressionUrl) CLICK HERE TO VIEW AD
    a.btn.btn-primary.margin-bottom(onClick=`document.impressionForm.submit(); return false;`) CLICK HERE TO VIEW AD

  form(name='redirectForm', method=redirectForm.method, action=redirectForm.url)
    each value, key in redirectForm.body
      input(type='hidden', name=key, value=value)

  form(name='impressionForm', method=impressionForm.method, action=impressionForm.url)
    each value, key in impressionForm.body
      input(type='hidden', name=key, value=value)

append script
  script(src='/js/timer.js')