extends layout

block content
    h1 Login
    form(id='login-form', method='POST', action='#')
        input(name='username', type='text', placeholder='Username')
        br
        input(name='password', type='password', placeholder='Password')
        br
        br
        | * dev only
        br
        input(name='uamip', type='text', value='#{uamip}')
        br
        input(name='uamport', type='text', value='#{uamport}')
        br
        input(name='challenge', type='text', value='#{challenge}')
        br
        input(name='mac', type='text', value='#{mac}')
        br
        input(name='ip', type='text', value='#{ip}')
        br
        input(name='ssid', type='text', value='#{ssid}')
        br
        input(name='called', type='text', value='#{called}')
        br
        input(name='nasid', type='text', value='#{nasid}')
        br
        input(name='userurl', type='text', value='#{userurl}')
        br
        input(name='md', type='text', value='#{md}')
        br
        br
        input(type='submit', value='login')
