//- http://wiki.mikrotik.com/wiki/HotSpot_external_login_page

extends layout

block content
    .content-wrapper-inner
        a(href=assets.url)
            img#logo(src=assets.logo)
        p#slogan=assets.slogan

        br

        if query.error
            p#error=query.error

        if login.email
            form#login-form(name='form', method='POST', action=query['link-login-only'], onSubmit='return encryptPass()')
                .form-group
                    input.form-control(type='text', name='username', value=query.username, placeholder='Email')
                .form-group
                    input.form-control(type='password', name='password', placeholder='Password')
                .form-group
                    input.form-control.btn.btn-primary(name='submit', type='submit', value='LOGIN')
                .form-group
                    a(href=login.signupUrl) SIGN UP

        if login.guestEnabled
            a(href='#{query["link-login-only"]}?username=T-#{query["mac"]}') LOGIN AS GUEST

append script
    if login.email
        if query['chap-challenge']
            script(src='/js/md5.js')
            script(type='text/javascript').
                function encryptPass() {
                    document.form.password.value = md5('#{query["chap-id"]}' + document.form.password.value + '#{query["chap-challenge"]}');
                    return true;
                }
        else
            script(type='text/javascript').
                function encryptPass() { return true; }