extends layout

block content
    .content-wrapper-inner
        a(href=assets.url)
            img#logo(src=assets.logo)
        p#slogan=assets.slogan

        br

        if query.error
            p#error=query.error

        if login.email
            form#signup-form(name='form', method='POST', action=query['link-login-only'])
                .form-group
                    input.form-control(type='text', name='username', value=query.username, placeholder='Email')
                .form-group
                    input.form-control(type='password', name='password', placeholder='Password')
                .form-group
                    input.form-control(type='password', name='password2', placeholder='Confirm Password')
                .form-group
                    input.form-control.btn.btn-info(name='submit', type='submit', value='SIGN UP')
                .form-group
                    a(href=login.loginUrl) LOGIN

        if login.guestEnabled
            a(href='#{query["link-login-only"]}?username=T-#{query["mac-esc"]}') LOGIN AS GUEST
