extends layout

block content
    p#slogan
        a(href=assets.url): img#logo(src=assets.logo)
        =assets.slogan

    br

    if data.message
        p#message=data.message
    if data.error
        p#error=data.error

    if login.email
        form(name='signupForm', method='POST', onSubmit='spinner(); return true;')
            .form-group
                input.form-control(type='text', name='username', value=data.username, placeholder='Email')
            .form-group
                input.form-control(type='password', name='password', placeholder='Password')
            .form-group
                input.form-control(type='password', name='password2', placeholder='Confirm Password')
            .form-group
                input.form-control(type='hidden', name='queryString', value=data.queryString)
                input.form-control(type='hidden', name='loginUrl', value=data.loginUrl)
                button.form-control.btn.btn-info
                    #signup-spinner.spinner(style='display:none')
                    | SIGN UP
            .form-group
                br
                a(href=data.loginUrl) LOGIN

append script
    script(type='text/javascript').
        function spinner() {
            document.getElementById('signup-spinner').style.display = '';
        }