extends layout

append css
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/separator.css')
  style.
    .content .title {
      padding-top: 25px;
      padding-bottom: 15px;
    }

    .btn-facebook {
      color: #fff;
      background-color: #3b5998;
      border-color: #3b5998;
    }

    .btn-google {
      background-color: #DB4437;
      border-color: #DB4437;
    }

    form {
      margin: auto;
      max-width: 80vw;
    }

    .form-error {
      color: red;
    }


block content

  .title Sign In To Proceed

  if isFacebookEnabled
    .form-group
      button.btn.btn-primary.btn-facebook
        i.fa.fa-facebook(aria-hidden=true)
        | &nbsp; &nbsp;Sign in with Facebook

  if isGoogleEnabled
    .form-group
      button.btn.btn-danger.btn-google
        i.fa.fa-google(aria-hidden=true)
        | &nbsp; &nbsp;Sign in with Google

  if isGuestEnabled
    .form-group
      a.btn.btn-primary(href=guestUrl)
        | &nbsp; &nbsp;Sign in as Guest

  if isEmailEnabled

    if isFacebookEnabled || isGoogleEnabled || isGuestEnabled
      .separator: span Or

    form(name='form', method='POST')
      if formError
        .form-group
          .form-error=formError

      .form-group
        input.form-control(type='email', name='email', value=data.email, placeholder='Email')
      .form-group
        input.form-control(type='number', name='mobile', value=data.mobile, placeholder='Mobile')

        each value, key in data
          - var isVisibleData = key === 'email' || key === 'mobile'
          if !isVisibleData
            input(type='hidden', name=key, value=value)

      button.btn.btn-primary SIGN UP
