extends layout

append css
  style.
    @media (max-width: 991px) {
      .img-full-page {
        content: url('#{impressionImg.sm}');
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .img-full-page {
        content: url('#{impressionImg.md}');
      }
    }
    @media (min-width: 1200px) {
      .img-full-page {
        content: url('#{impressionImg.lg}');
      }
    }

    #redirect-link {
      display: none;
    }


block content
  //-if error
    .alert.alert-danger=error
  if message
    .alert.alert-success=message

  img.img-full-page


block footer
  .shadow
    #redirect-wait.link &nbsp;
    #redirect-link.link
      a(href='#', onClick=`submit('${redirectUrl}'); return false;`) Click here to proceed &gt;

    a.btn.btn-primary.margin-bottom(onClick=`submit('${impressionUrl}'); return false;`) CLICK HERE TO VIEW AD

append script
  script(src='/js/timer.js')

  if typeMikrotik
    include includes/mikrotik
  if typeCambium
    include includes/cambium