extends ../layout

append css
  style.
    .alert {
      position: absolute;
      margin-top: 20px;
      left: 10vw;
      right: 10vw;
    }

    .img-full-page {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media (max-width: 991px) {
      .img-full-page {
        content: url('#{announcements.sm}');
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .img-full-page {
        content: url('#{announcements.md}');
      }
    }
    @media (min-width: 1200px) {
      .img-full-page {
        content: url('#{announcements.lg}');
      }
    }


block content
  if error
    .alert.alert-danger=error
  else if message
    .alert.alert-success=message

  img.img-full-page


block footer
  .shadow
    a.btn.btn-primary.margin-bottom(href=buttonUrl) CONNECT
