extends ../layout

block content
  img.img-logo(src=logo)

  br

  if message
    p.message=message
  //-if error
    p.error=error

  br

  img.img-impression.visible-xs-block.visible-sm-block(src=adsImg.sm)
  img.img-impression.visible-md-block(src=adsImg.md)
  img.img-impression.visible-lg-block(src=adsImg.lg)

  p
    a(href=adsUrl) Click Here to View Ad

  p
    | Please wait 5 seconds, then click 
    a(href=redirectUrl) here
    | &nbsp;to continue surfing the web
