extends ../layout

block content
    //- http://wiki.mikrotik.com/wiki/HotSpot_external_login_page
    p#slogan
        a(href=assets.url): img#logo(src=assets.logo)
        =assets.slogan

    br

    a(href=ad.url)
        img#impression-img(src=ad.img)

    br

    if query.message
        p#message=query.message
    if query.error
        p#error=query.error

    if login.email
        form(name='loginForm', method='POST', action=query['link-login-only'], onSubmit='spinner(); hash(); return false;')
            .form-group
                input.form-control(type='text', name='username', value=query.username, placeholder='Email')
            .form-group
                input.form-control(type='password', name='password', placeholder='Password')
            .form-group
                button.form-control.btn.btn-primary
                    #login-spinner.spinner(style='display:none')
                    | LOGIN
            .form-group
                br
                a(href=login.signupUrl) SIGN UP

    if login.guest
        a(href=`${query["link-login-only"]}?username=T-${query["mac"]}`) LOGIN AS GUEST

append script
    if login.email
        script(src='/js/argon2.js')
        script(type='text/javascript').
            function spinner() {
                document.getElementById('login-spinner').style.display = '';
            }

            function hash() {
                let username = document.loginForm.username.value;
                let password = document.loginForm.password.value;
                argon2
                    .hash({
                        pass: password,
                        salt: username + '#{ARGON2_SALT_SUFFIX}',
                        time: 1,
                        mem: 64,
                        hashLen: 32,
                        parallelism: 1,
                        type: argon2.ArgonType.Argon2d,
                        distPath: '/js'
                    })
                    .then(hash => submit(hash))
                    .catch(e => alert(e.message + e.code))
            }

        if query['chap-challenge']
            script(src='/js/md5.js')
            script(type='text/javascript').
                function submit(hash) {
                    document.loginForm.password.value = md5('#{query["chap-id"]}' + hash.hashHex + '#{query["chap-challenge"]}');
                    document.loginForm.submit();
                }
        else
            script(type='text/javascript').
                function submit(hash) {
                    document.loginForm.password.value = hash.hashHex;
                    document.loginForm.submit();
                }