extends ../layout

append css
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/separator.css')
  style.
    .content .title {
      padding-top: 25px;
      padding-bottom: 15px;
    }

    .btn-facebook {
      color: #fff;
      background-color: #3b5998;
      border-color: #3b5998;
    }

    .btn-google {
      background-color: #DB4437;
      border-color: #DB4437;
    }

    form {
      margin: auto;
      max-width: 80vw;
    }

    .form-error {
      color: red;
    }


block content

  .title Sign In To Proceed

  //- TODO remove all true in production. it's for dev showcase only.
  if isFacebookEnabled || true
    .form-group
      button.btn.btn-primary.btn-facebook
        i.fa.fa-facebook(aria-hidden=true)
        | &nbsp; &nbsp;Sign in with Facebook

  if isGoogleEnabled || true
    .form-group
      button.btn.btn-danger.btn-google
        i.fa.fa-google(aria-hidden=true)
        | &nbsp; &nbsp;Sign in with Google

  if isGuestEnabled
    .form-group
      a.btn.btn-primary
        | &nbsp; &nbsp;Sign in as Guest

  if isEmailEnabled

    if isFacebookEnabled || isGoogleEnabled || isGuestEnabled || true
      .separator: span Or

    form(name='form', method='POST')
      if formError
        .form-group
          .form-error=formError
      .form-group
        input.form-control(type='email', name='email', value=data.email, placeholder='Email')
      .form-group
        input.form-control(type='number', name='mobile', value=data.mobile, placeholder='Mobile')
        input(type='hidden', name='loginUrl', value=data.loginUrl)
        input(type='hidden', name='mac', value=data.mac)
        input(type='hidden', name='nas', value=data.nas)
        input(type='hidden', name='chapId', value=data.chapId)
        input(type='hidden', name='chapChallenge', value=data.chapChallenge)
        input(type='hidden', name='redirectUrl', value=data.redirectUrl)
      button.btn.btn-primary SIGN UP
