extends ../layout

append css
  style.
    @media (max-width: 991px) {
      .img-full-page {
        content: url('#{impressionImg.sm}');
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .img-full-page {
        content: url('#{impressionImg.md}');
      }
    }
    @media (min-width: 1200px) {
      .img-full-page {
        content: url('#{impressionImg.lg}');
      }
    }

    #redirect-link {
      display: none;
    }


block content
  //-if error
    .alert.alert-danger=error
  if message
    .alert.alert-success=message

  img.img-full-page


block footer
  .shadow
    #redirect-wait.link &nbsp;
    #redirect-link.link
      a(href='#', onClick=`submit('${redirectUrl}'); return false;`) Click here to proceed &gt;

    a.btn.btn-primary.margin-bottom(onClick=`submit('${impressionUrl}'); return false;`) CLICK HERE TO VIEW AD

  form(name='form', method='POST', action=loginUrl)
    input(type='hidden', name='username', value=mac)
    input(type='hidden', name='password', value=token)
    input(type='hidden', name='dst')


append script
  script(src='/js/timer.js')

  if chapChallenge
    script(src='/js/md5.js')
    script(type='text/javascript').
      function submit(redirectUrl) {
        const form = document.form;
        const password = form.password.value;
        form.password.value = md5('#{chapId}'+password+'#{chapChallenge}');
        form.dst.value = redirectUrl;
        form.submit();
      }

  else
    script(type='text/javascript').
      function submit(redirectUrl) {
        const form = document.form;
        form.dst.value = redirectUrl;
        form.submit();
      }