extends ../layout

append css
  style.
    .alert {
      position: absolute;
      margin-top: 20px;
      left: 10vw;
      right: 10vw;
    }

    .img-impression {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media (max-width: 991px) {
      .img-impression {
        content: url('#{impressions.sm}');
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .img-impression {
        content: url('#{impressions.md}');
      }
    }
    @media (min-width: 1200px) {
      .img-impression {
        content: url('#{impressions.lg}');
      }
    }


block content
  if error
    .alert.alert-danger=error
  else if message
    .alert.alert-success=message

  img.img-impression


block footer
  //- .shadow
  p Please wait 3s
  p: a(href='#', onClick=`submit('${redirectUrl}'); return false;`) Click here to proceed &gt;
  a.btn.btn-primary.margin-bottom(onClick=`submit('${impressionUrl}'); return false;`) CLICK HERE TO VIEW AD
  form(name='form', method='POST', action=loginUrl)
    input(type='hidden', name='username', value=mac)
    input(type='hidden', name='password', value=token)
    input(type='hidden', name='dst')


append script
  if chapChallenge
    script(src='/js/md5.js')
    script(type='text/javascript').
      function submit(redirectUrl) {
        const form = document.form;
        const password = form.password.value;
        form.password.value = md5('#{chapId}'+password+'#{chapChallenge}');
        form.dst.value = redirectUrl;
        form.submit();
      }
  else
    script(type='text/javascript').
      function submit(redirectUrl) {
        const form = document.form;
        form.dst.value = redirectUrl;
        form.submit();
      }