extends ../layout

block content
    p#slogan
        a(href=assets.url): img#logo(src=assets.logo)
        =assets.slogan

    br

    img#impression-img(src=assets.announcement)

    br

    if query.message
        p#message=query.message
    if query.error
        p#error=query.error

    if isNewUser
        div
            a(href=login.signupUrl) SIGN UP
    else
        div
            a(href=login.successUrl) LOGIN

    if login.guest
        div
            a(href=login.guestUrl) LOGIN AS GUEST
